@import '../../../styles/config';
@import '../../../styles/root';


.dashboard {
    //height:90vh;
    width:80%;
    margin:2rem auto;

    &__header {
        border-bottom:1px solid $purple;

        h4 {
            font-size:2rem;
            font-weight:400;
            margin-bottom:1rem;
            color:$blue;
        }
    }

    &__content {
        display:flex;
        justify-content: space-between;
        margin-top:1.5rem;
        min-height:15rem;

        @include respond(misc3) {
            flex-wrap:wrap;
        }

        &__project {
            background-color:$white;
            flex-basis:65%;
            border-radius:2px;
            flex-grow:0;

            h2 {
                color:orangered;
                font-size:2rem;
            }
            @include respond(misc3) {
                flex-basis:100%;
                margin-bottom:3rem;
            }
        }

        &__notification {
            background-color:$white;
           // flex-basis:38%;
            border-radius:2px;
            padding:2rem;
            flex-grow:0;
            flex-shrink:0;
           height:25rem;

            @include respond(misc3) {
                flex-basis:100%;
            }
        }

    }
}
