@import '../../../styles/config';
@import '../../../styles/root';


.modal {
    width:100vw;
    height:100vh;
    background-color:rgba(10, 10, 10, 0.755);
    position:absolute;
    top:0;
    left:0;
    display:flex;
    justify-content: center;
    align-items:center;
    animation:zoomIn .6s;

    &__box {
        width:60%;
        // height:60%;
        border-radius:15px;
        background-color: $white;

        &__header {
            height:8rem;
            color:$white;
            background-color:$purple;
            @include flexCenter;
            border-top-left-radius:15px;
            border-top-right-radius:15px;

            h4 {
                text-align:center;
                font-size:3rem;
                font-weight:600;
                color:$white;
            }
        }

        &__content {
            // @include flexCenter;
            margin:2rem;
            color:$purple;

            h4 {
                font-size:2rem;
            }

            h6 {
                font-size:1.7rem;
            }

            p {
                font-size:1.5rem;
            }
        }
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
        opacity:0;
    }
    70% {
        transform: scale(1.3);
        opacity:0.7;
    }
    100% {
        transform: scale(1);
        opacity:1;
    }
}

